image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_NAME: $DOCKERHUB_USER/site-traiteur

stages:
  - build

build-dev:
  stage: build
  script:
    - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_TOKEN
    - cd app
    - docker build -t $IMAGE_NAME:dev-latest .
    - docker push $IMAGE_NAME:dev-latest
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"

build-prod:
  stage: build
  script:
    - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_TOKEN
    - cd app
    - docker build -t $IMAGE_NAME:prod-latest .
    - docker push $IMAGE_NAME:prod-latest
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
